html, body { height: 100%; width: 100%; margin: 0; }

#container {
  /* display: flex; */
  /* align-items: stretch; */
  /* flex-direction: column; */
  height: 100%;
  width: 33%;
}

#code {
  height: 50vh;
  /* flex-grow: 1; */
  /* resize: vertical; */
  /* overflow: auto; */
}

#logs {
    /* flex-grow: 1; */
    height: 50vh;
  overflow: scroll;
  font-size: x-small;
}

#divider {
  background: #000;
  height: 5px;
  cursor: ns-resize;
}

/* .monaco-editor { position: absolute !important; } */