.DS_Store
*.o
*.exe
src/Dem/DEMND
src/Dem/xml2vtk
src/Texturing/Texturing
src/build/
cggui/node_modules
cggui/cpptest
visualise/node_modules
examples/Output
node_modules
/build
/deploy
visualise/deploy
Samples
Textures
testing
bin
*.stackdump
__pycache__
Scripts/MuI_20200210.m*
.vscode
chromedriver-mobile
live/tests_output
Output