.DS_Store
*.o
node_modules/
CppCode/Dem/DEMND
CppCode/Dem/xml2vtk
CppCode/Texturing/Texturing
CppCode/build/
package-lock.json
Samples
Textures
CppCode/CoarseGraining/NrrdIO-1.11.0-src/build/*
*.stackdump
